<section>
  <mat-form-field class="form-field">
    <input matInput placeholder="username" type="username">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="email" type="email">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="password" type="password">
  </mat-form-field>
</section>


<section>
  <div class="container">
  <div class="child" id="child1"></div>
  <div class="child" id="child2"></div>
  <div class="child" id="child3"></div>
  </div>
</section>
